<section id="projects" class="mb-12">
  <h2 class="text-2xl sm:text-3xl md:text-2xl font-heading font-bold mb-4 text-text underline decoration-accent/30 underline-offset-4 drop-shadow font-serif">Projects</h2>
  <p class="mb-6 text-white/90 font-semibold drop-shadow-sm text-base md:text-base">Some of my featured work and experiments.</p>
  <div class="grid grid-cols-1 md:grid-cols-1 gap-4 sm:gap-6 md:gap-4 font-mono w-full">
    <slot />
  </div>
</section>
