<section id="projects" class="bg-background rounded-xl shadow-lg p-8 max-w-4xl mx-auto mb-12 text-center md:text-left items-center md:items-start font-sans">
  <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-6 text-text font-serif">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 md:gap-8 font-mono w-full">
    <slot />
  </div>
</section>
