---
import Sidebar from '../components/Sidebar.astro';
import '../styles/global.css';
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="flex min-h-screen bg-background font-sans text-text">
	<aside class="hidden md:block fixed left-0 top-0 h-full w-[280px] z-30">
		<Sidebar />
	</aside>
	<main class="flex-1 ml-0 md:ml-[280px] px-2 sm:px-4 md:px-8 py-6 sm:py-8">
		<slot />
	</main>
</div>
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
